.approachdesktop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.approachmobile{
    display: none;
}
@media (width<=768px) {
    .approachdesktop{
        display:none;
    }
    .approachmobile{
        display: flex;
        justify-content: center;
    }
}