.industry{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.indusGrid{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, minmax(14rem, 1fr));
    grid-template-rows: repeat(3, minmax(14rem, 1fr));
}