/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FDFCFA;
  box-sizing: border-box;
} */

.graph {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  height: 600px;
  width: 90%;
  /* border: 1px solid #ddd; */
  padding: 5px;
  background-color: white;
  position: relative;
  top:4rem;
  left: 70px;
}
.bar {
  flex: 1;
  width: 1.5em;
  border-radius: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}
.bar1 {
  background-color: #cce7ff;
}
.bar2{
  background-color:  #99d0ff;
}
.bar3{
  background-color:  #66b8ff;
}
.bar4{
  background-color:   #33a1ff;
}
.bar5{
  background-color:  #008aff;
}
.bar6{
  background-color:  #0075e6;
}
.bar7{
  background-color:   #005fcf;
}
.bar8{
  background-color:   #0049b8;
}
.bar9{
  background-color:  #0033a1;
}

.bar:hover {
  transform: scale(1.1);
  background:linear-gradient(to right, #add8e6, #7b68ee, #8a2be2);
 }
 .text {
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%); /* Center the text horizontally */
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 }
 .pole {
  position: absolute;
  top: -20px; 
  left: 50%;
  transform: translateX(-50%);
  width: 2px; 
  height: 21px;
  /* background-color: brown;  */
  background:linear-gradient(to right, #add8e6, #7b68ee, #8a2be2);
  transition: background-color 0.3s ease;
}
.flag {
  position: absolute;
  top: -15px; 
  left: 0;
  width: 20px;
  height: 15px; 
  /* background-color: rgb(237, 157, 170);  */
  background:linear-gradient(to right , #add8e6, #7b68ee, #8a2be2);
  clip-path: polygon(0 0, 100% 50%, 0 100%); 
  transition: background-color 0.3s ease;
}
.bar:hover .flag,
.bar:hover .pole {
background-color: green;
}
@media (max-width: 431px) {
.bar {
  flex: 1; 
  width: 1em; 
  transition: width 0.3s ease; 
 
}

.text {
  font-size: 6px; 
}

.graph {
  height: 17em; 
}
}