* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    height: 15rem;
    width: 13rem;
    margin-top: 5rem;
}

.cardDescription {
    background-color: #F3F8F8;
    padding: 1rem;
    width: 100%;
    height: 70%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #02E2F1;
}

.cardDescription p {
    text-align: center;
    color: black;
    font-weight: bold;
}

.cardTitle {
    width: 100%;
    height: 20%;
    background-color: #D1EFF1;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #02E2F1;
}

.cardIcon {
    height: 4rem;
    width: 4rem;
    background-color: #D1EFF1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #02E2F1;
    border-radius: 100%;
}

.cardIconMobile {
    display: none;
}

.cardIconDiv {
    background-color: pink;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 430px) {
    .cardDescription {
        display: none;
    }

    .cardTitle {
        font-size: 2rem;
        margin-top: 6rem;
        border: none;
        background-color: white;
    }

    .cardIcon {
        display: none;
    }

    .cardIconMobile {
        height: 10rem;
        width: 10rem;
        background-color: #D1EFF1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 7px solid #02E2F1;
        border-radius: 100%;
    }

    .card{
        margin-top: 15rem;
    }
}