* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contact {
    display: flex;
    padding: 0rem 4rem;
    margin-top: 6rem;
    width: 100vw;
    height: 68vh;
    gap: 6rem;
}

.form {
    border-radius: 3rem;
    background: linear-gradient(to right, #97D9FA, #90B5C7);
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
}

.headings {
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
    font-weight: 900;
    font-size: 25px;
}

.input {
    border: 1px solid rgb(255, 255, 255);
    padding: 1.3vw 0.6rem;
    outline: none;
    width: 70%;
    height: 1.3rem;
    /* margin: 0.6rem 2.5rem; */
    border-radius: 1.4rem;
    box-shadow: 0 1rem 2rem -1rem rgb(68, 67, 67);

    &:hover {
        border: 1px solid #000000;
    }
}



.textarea {
    border: 1px solid white;
    /* margin: 0.6rem 2.5rem; */
    resize: none;
    width: 70%;
    height: 4rem;
    border-radius: 1rem;
    padding: 0.2rem 0.6rem;
    box-shadow: 0 1rem 2rem -1rem rgb(108, 105, 105);

    &:hover {
        border: 1px solid #000;
    }
}

.buttondiv {
    padding: 0.5rem;
    display: flex;
    gap: 1.5rem;
}

.button1 {
    font-weight: 500;
    color: white;
    background-color: black;
    padding: 0.9rem 2.5rem;
    border-radius: 1.4rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.button2 {
    font-weight: 500;
    background-color: #bbe1f4;
    border: 2px solid #5dbdf1;
    padding: 0.9rem 2.5rem;
    border-radius: 1.4rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.desktopForm{
    display: block;
}

.MobileForm{
    display: none;
}

@media (max-width: 768px) {
    .desktopForm{
        display: none;
    }
    .MobileForm{
        margin-top: 4rem;
        padding: 0rem 2rem;
        display: block;
    }

}