.mobileForm {
    background:linear-gradient(to bottom ,#fadff4, #cbe1fd,#e6eef8,#e6eef8,#e6eef8,#e6eef8,#e6eef8);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 80vh;
}


.container {
    background-color:  #ffe2f7;
    width: 100%;
    padding: 30px;
    border-top-left-radius: 21rem;
    border-top-right-radius: 21rem;
    text-align: center;
    margin-top: 6rem;
    box-shadow:#a5a5a5 0rem 0.3rem 0.5rem;

}

.mobileH {
    font-weight: 400;
    margin: 20px 0;
    font-size: 0.8rem;
    margin-top: 18vw;

}
.mobileInput[type="text"],
.mobileInput[type="email"],
.mobileInput[type="tel"],
.mobileArea {
    border: none;
    resize: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
.reset-btn {
    border: none;
    border-radius: 20px;
    padding: 10px 27px;
    margin: 10px;
    font-weight:500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #a5e3ff;
    color: #ffffff;

    &:hover {
        background-color: #ddd;
    }
}

.submit-btn {
    border: none;
    border-radius: 20px;
    padding: 9px 23px;
    margin: 10px;
    font-weight:500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #ddd;

    &:hover {
        background-color: #ddd;
    }
}

.fbuttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.pokiface{
    position: relative;
   width: 200px;
   height: 100px;
    background-image: url(emoji.png);
    background-size:cover;
}
.emoji{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: absolute;
    top: 7rem;
    left: 0vw;

}
@media (max-width: 414px )and (min-width: 374px) {
    .mobileForm{
        height: 110vh;
    } 
    
}
@media (max-width: 374px) {
    .mobileForm{
        height: 100vh;
    } 
    
    
}